@model ProjetoLP3.Models.CategoriaProduto

@{
    ViewBag.Title = "Excluir Categoria de Produto";
}

<h2>Excluir</h2>

<h3>Deseja excluir esse registro?</h3>
<div>
    <h4>Categoria de Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoComercio.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoComercio.Nome)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Remover" class="btn btn-default" /> |
            @Html.ActionLink("Voltar para a lista", "Index")
        </div>
    }
</div>
