@model IEnumerable<ProjetoLP3.Models.Loja>

@{
    ViewBag.Title = "Index";
}

<h2>Lojas</h2>

<p>
    @Html.ActionLink("Criar novo", "Inserir")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeComercial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CNPJ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RazaoSocial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Site)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rua.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeComercial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CNPJ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RazaoSocial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Site)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rua.Nome)
        </td>
        <td>
            @Html.ActionLink("Alterar", "Alterar", new { id=item.IdLoja }) |
            @Html.ActionLink("Detalhes", "Detalhes", new { id=item.IdLoja }) |
            @Html.ActionLink("Excluir", "Excluir", new { id=item.IdLoja })
        </td>
    </tr>
}

</table>
