@{
    ViewBag.Title = "Início";
}

@Html.ExibeImagem()
<div class="pesquisas">
    @Html.ExibeFrase()
    <button class="accordion"><h3> Ruas a partir de Bairro e Tipo de Comércio </h3></button>
    <div class="panel">
        <div class="container row">
            <form class="form-inline" style="margin: 20px 0 10px 0">
                <div class="form-group">
                    <label style="font-size:16px">Bairro</label>
                    @Html.DropDownList("Bairro", null, new { @class = "list" })
                </div>
                <br />
                <div class="form-group">
                    <label style="font-size:16px">Tipo de Comércio</label>
                    <span class="tipoComercio1">@Html.DropDownList("TipoComercio", null, new { @class = "list" })</span>
                </div>
                <button type="button" id="pesquisar1" class="btn btn-success">Pesquisar</button>
                <br /> <br />
            </form>
        </div>
        <div class="row">
            <div id="resultados1"></div>
        </div>
    </div>

    <!-- Pesquisa 2-->
    <button class="accordion"><h3> Lojas a partir de Rua </h3></button>
    <div class="panel">
        <div class="container row">
            <form class="form-inline" style="margin: 20px 0 10px 0">
                <div class="form-group">
                    <label style="font-size:16px">Rua</label>
                    @Html.DropDownList("Rua", null, new { @class = "list" })
                </div>
                <button type="button" id="pesquisar2" class="btn btn-success">Pesquisar</button>
                <br /> <br />
            </form>
        </div>
        <div class="row">
            <div id="resultados2"></div>
        </div>
    </div>

    <!-- Pesquisa 3-->
    <button class="accordion"><h3> Ruas a partir de Tipo de Comércio </h3></button>
    <div class="panel">
        <div class="container row">
            <form class="form-inline" style="margin: 20px 0 10px 0">
                <div class="form-group">
                    <label style="font-size:16px">Tipo de Comércio</label>
                    <span class="tipoComercio2">@Html.DropDownList("TipoComercio", null, new { @class = "list" })</span>
                </div>
                <button type="button" id="pesquisar3" class="btn btn-success">Pesquisar</button>
                <br /> <br />
            </form>
        </div>
        <div class="row">
            <div id="resultados3"></div>
        </div>
    </div>
    <div class="alert alert-warning" style="margin: 30px 0 30px 0;">
        <b>Atenção:</b> caso possua acesso administrativo, @Html.ActionLink("faça login aqui!", "Login", "Home")
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            $("#pesquisar1").on("click", function () {
                var pesquisa = {
                    IDBairro: $("#Bairro").val(),
                    IDComercio: $(".tipoComercio1 > #TipoComercio").val()
                }
                $.getJSON("/home/pesquisar1", pesquisa, function (data) {
                    var resultados = $("#resultados1");
                    resultados.empty();

                    if (data.length == 0) {
                        resultados.append('<div class="alert alert-warning"> Não encontramos nada :( </div>');
                        return false;
                    }

                    for (var i = 0; i < data.length; i++) {
                        resultados.append('<div class="col-xs-6">' +
                            '<div class="alert alert-success">' +
                            '<h4><b>Nome </b> ' + data[i].Nome + '</b><h4>' +
                            '<p><b>CEP </b> ' + data[i].CEP + '</p>' +
                            '</div> </div>');
                    }
                });
            });
        });
    </script>

    <script>
        $(function () {
            $("#pesquisar2").on("click", function () {
                var pesquisa = {
                    IDRua: $("#Rua").val()
                }
                $.getJSON("/home/pesquisar2", pesquisa, function (data) {
                    var resultados = $("#resultados2");
                    resultados.empty();

                    if (data.length == 0) {
                        resultados.append('<div class="alert alert-warning"> Não encontramos nada :( </div>');
                        return false;
                    }

                    for (var i = 0; i < data.length; i++) {
                        resultados.append('<div class="col-xs-6">' +
                            '<div class="alert alert-success">' +
                            '<h4><b>Nome Comercial </b> ' + data[i].NomeComercial + '</b><h4>' +
                            '<p><b>Razao Social </b> ' + data[i].RazaoSocial + '</p>' +
                            '<p><b>CNPJ </b> ' + data[i].CNPJ + '</p>' +
                            '<p><b>Telefone </b> ' + data[i].Telefone + '</p>' +
                            '<p><b>Site </b> ' + data[i].Site + '</p>' +
                            '</div> </div>');
                    }
                });
            });
        });
    </script>

    <script>
        $(function () {
            $("#pesquisar3").on("click", function () {
                var pesquisa = {
                    IDComercio: $(".tipoComercio2 > #TipoComercio").val()
                }
                $.getJSON("/home/pesquisar3", pesquisa, function (data) {
                    var resultados = $("#resultados3");
                    resultados.empty();

                    if (data.length == 0) {
                        resultados.append('<div class="alert alert-warning"> Não encontramos nada :( </div>');
                        return false;
                    }

                    for (var i = 0; i < data.length; i++) {
                        resultados.append('<div class="col-xs-6">' +
                            '<div class="alert alert-success">' +
                            '<h4><b>Nome </b> ' + data[i].Nome + '</b><h4>' +
                            '<p><b>CEP </b> ' + data[i].CEP + '</p>' +
                            '</div> </div');
                    }
                });
            });
        });
    </script>

    <script>
        $(function () {
            $('.scroll-down').click(function () {
                $('html, body').animate({ scrollTop: $('div.pesquisas').offset().top }, 'slow');
                return false;
            });
        });
    </script>

    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }
    </script>

}