
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <link rel="stylesheet" href="~/StyleSheets/animated-bg.css" />
    <link rel="stylesheet" href="~/StyleSheets/login.css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Acesso Administrativo</a>
            </div>
        </div>
    </div>
    <div class="container opaco">
        <form id="form-login" name="form-login" method="get" action="javascript:function()">
            <div class="alert alert-danger" style="margin: 10px 0"><b>Atenção:</b> para fazer login é necessário ter acesso administrativo!</div>
            <div class="imgcontainer">
                <img src="../Images/imgAvatar.png" alt="Avatar" style="width: 15%; border-radius: 50%;"/>
            </div>
            <div class="containerLogin">
                <label for="txtLogin"><b>Login</b></label>&nbsp;
                <input type="text" placeholder="Seu Login" id="txtLogin" name="txtLogin">

                <label for="txtSenha"><b>Senha</b></label>&nbsp;
                <input type="password" placeholder="Sua Senha" id="txtSenha" name="txtSenha">&nbsp;

                <button id="botao-entrar" type="button">Login</button><br />
                <div style="text-align:right">@Html.ActionLink("Voltar para a página principal", "Index")</div>               
            </div>
        </form> <br/>
        <label id="status" class="alert alert-warning"></label>
    </div>
    <script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Autenticacao.js")"></script>
</body>
</html>
