@model IEnumerable<ProjetoLP3.Models.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Usuários</h2>

<p>
    @Html.ActionLink("Criar novo", "Inserir")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Senha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Senha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Alterar", "Alterar", new { id=item.IdUsuario }) |
            @Html.ActionLink("Detalhes", "Detalhes", new { id=item.IdUsuario }) |
            @Html.ActionLink("Excluir", "Excluir", new { id=item.IdUsuario })
        </td>
    </tr>
}

</table>
